<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ssm.framework.dao.EmployeeMapper">
    <!-- 全件検索 -->
    <select id="findAll" resultType="com.ssm.framework.entity.Employee">
        SELECT * FROM t_employee WHERE DEL_FLG = 0
    </select>
    
</mapper>