<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ssm.framework.dao.EmployeeMapper">
    <!-- 全件検索 -->
    <select id="findAll" resultType="com.ssm.framework.entity.Employee">
        SELECT * FROM T_employee WHERE DEL_FLG = 0
    </select>
     <!-- 登録 -->
	<insert id="add">
	 INSERT INTO  T_employee
	 (EMPLOYEE_ID,PASSWORD, EMPLOYEE_NAME, EMPLOYEE_NAMEKANA, EMPLOYEE_AGE,
	  EMPLOYEE_PHONENUMBER, EMPLOYEE_MAIL)
	  VALUES (#{employeeId},#{password}, #{employeeName}, #{employeeNameKana},
	  #{employeeAge}, #{employeePhoneNumber}, #{employeeMail})
	</insert>
	
	 <!--条件检索-->
    <select id="findByCondition" resultType="com.ssm.framework.entity.Employee">
        SELECT * FROM T_employee
		  <where>
		    <if test="employeeId != null">
		      and employeeId = #{employeeId}
		    </if>
		    <if test="employeeName != null and employeeName != ''">
		      and username = #{employeeName}
		    </if>
		  </where>
    </select>
</mapper>