<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ssm.framework.dao.EmployeeMapper">
    <!-- 全件検索 -->
    <select id="findAll" resultType="com.ssm.framework.entity.Employee">
        SELECT * FROM T_employee WHERE DEL_FLG = 0
    </select>
    
    <select id="linkId" resultType="com.ssm.framework.entity.Employee">
        SELECT * FROM T_employee WHERE EMPLOYEE_ID = #{employeeId} AND DEL_FLG = 0
    </select>
    
    <!--条件検索-->
    <select id="iFindByCondition" resultType="com.ssm.framework.entity.Employee">
        SELECT * FROM T_employee
		  <where>
		  DEL_FLG = 0
		    <if test="employeeId != null and employeeId != ''">
		      AND EMPLOYEE_ID = #{employeeId}
		    </if>
		  </where>
    </select>
    
    
     <!-- 登録 -->
	<insert id="add">
	  INSERT INTO T_employee (EMPLOYEE_ID, PASSWORD, JOIN_DATE, EMPLOYEE_NAME, EMPLOYEE_NAMEKANA, 
	  EMPLOYEE_GENDERID, EMPLOYEE_AGE, EMPLOYEE_DEPATMENTID, EMPLOYEE_PHONENUMBER, EMPLOYEE_MAIL)
	  VALUES (#{employeeId}, #{password}, #{joinDate}, #{employeeName}, #{employeeNameKana}, #{employeeGenderId},
	   #{employeeAge}, #{employeeDepatmentId}, #{employeePhoneNumber}, #{employeeMail})
	</insert>
	
	<!-- 更新 -->
	<update id="update">
	  UPDATE T_employee SET
	  JOIN_DATE = #{{joinDate}, EMPLOYEE_NAME = #{employeeName}, EMPLOYEE_NAMEKANA = #{employeeNameKana}, 
	  EMPLOYEE_GENDERID = #{employeeGenderId}, EMPLOYEE_AGE = #{employeeAge}, EMPLOYEE_DEPATMENTID = #{employeeDepatmentId}, 
	  EMPLOYEE_PHONENUMBER =, #{employeePhoneNumber}, EMPLOYEE_MAIL = #{employeeMail}
	  WHERE EMPLOYEE_ID = #{employeeId}
	</update>
	
	
</mapper>