<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/employInformationDisplay.css">
	<title>勤怠管理システム</title>
</head>
<body>
	<script src="../../static/js/deleteEmployee.js"></script>
	<div class="header">
		<h1 class="header_css">株式会社ＸＸＸ</h1>    
		<button class="logout_css">ログアウト</button>
	</div>
	<div class="p_css">
		<p class="p1">社員情報一覧</p>
	</div>
	
	<form th:action="@{/emp/add}">
		<button id="loginBtn" class="loginBtu_css">登録</button>
	</form>

	<form th:action="@{/employee/search}" th:object="${form}" th:method="post">
		<div class="firstSelectRow_css">
			<label for="member-id" class="label1">社員ID:</label>
			<form  method="get"> 
			<input type="text" th:field="*{employeeId}" id="employeeId" name="member-id" class="input1"><br><br>
			</form>
			<label for="department" class="label2">所属部門:</label>
			<select id="department" name="department" class="select1">
				<option value="004">第一開発部</option>
				<option value="005">第ニ開発部</option>
				<option value="003">営業部</option>
			</select><br><br>
			
			<button id="searchBtn" type="submit"  class="searchBtu_css">検索</button>
			
		</div>
		<div class="twoSelectRow_css">
			<label for="start-date" class="label3">入社年月日:</label>
			<input type="date" id="start-date" name="start-date"class="timeStart"><br><br>
			<p class="p2">~</p>
			<input type="date" id="end-date" name="end-date"class="timeEnd"><br><br>
		</div>
		</form>
		
		<form th:action="@{/deleteEmployees}" method="post" id="deleteForm">
		  <input type="hidden" name="employeeIds" id="employeeIds"/>
		  <button type="submit" class="btn btn-danger" onclick="prepareEmployeeIds()">削除</button>
		</form>
		<!--<input type="submit" value="削除" class="delete_css">-->
	
	
	<div class="table-container" th:if="${employeeList}">
	<table>
		<tr class="trFirst_css">
			<th>選択</th>
			<th>社員ID</th>
			<th>入社年月日</th>
			<th>氏名</th>
			<th>カタカナ</th>
			<th>性別</th>
			<th>年齢</th>
			<th>所属</th>
			<th>電話番号</th>
			<th>メールアドレス</th>
		</tr>
		
		
		<tr th:each="employee : ${employeeList}" th:object="${employee}">
		     
             <td><input type="checkbox"></td>
             <td><a th:href="@{/updateLink}" th:text="*{employeeId}"></a></td>
             <td th:text="${#dates.format(employee.joinDate, 'yyyy/MM/dd')}"></td>
             <td th:text="*{employeeName}"></td>
             <td th:text="*{employeeNameKana}"></td>
             <td th:text="*{employeeGenderId}"></td>
             <td th:text="*{employeeAge}"></td>
             <td th:text="*{employeeDepatmentId}"></td>
             <td th:text="*{employeePhoneNumber}"></td>
             <td th:text="*{employeeMail}"></td>

           </tr>
	</table>
	<div>
</body>
</html>
