<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/employInformationDisplay.css">
	<title>社员信息管理系统</title>
</head>
<body>
	<div class="header">
		<h1 class="header_css">株式会社ＸＸＸ</h1>    
		<button class="logout_css">ログアウ</button>
	</div>
	<div class="p_css">
		<p class="p1">社員情報一覧</p>
	</div>
	
	<form>
		<div class="firstSelectRow_css">
			<label for="member-id" class="label1">社员ID:</label>
			<input type="text" id="member-id" name="member-id" class="input1"><br><br>
			<label for="department" class="label2">所属部门:</label>
			<select id="department" name="department" class="select1">
				<option value="开发一部">开发一部</option>
				<option value="开发二部">开发二部</option>
				<option value="开发三部">开发三部</option>
			</select><br><br>
			<input type="submit" value="登陆" class="login_css">
			<input type="submit" value="搜索" class="search_css">
		</div>
		<div class="twoSelectRow_css">
			<label for="start-date" class="label3">入社年月日:</label>
			<input type="date" id="start-date" name="start-date"class="timeStart"><br><br>
			<p class="p2">~</p>
			<input type="date" id="end-date" name="end-date"class="timeEnd"><br><br>
		</div>
		
		<input type="submit" value="删除" class="delete_css">
	</form>
	
	<div class="table-container">
	<table>
		<tr class="trFirst_css">
			<th>选择</th>
			<th>社員ID</th>
			<th>入社年月日</th>
			<th>氏名</th>
			<th>カタカナ</th>
			<th>性别</th>
			<th>年齢</th>
			<th>所属</th>
			<th>電話番号</th>
			<th>メールアドレス</th>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td><a href="#">1001</a></td>
			<td>2022-01-01</td>
			<td>张三</td>
			<td>zhangsan</td>
			<td>男</td>
			<td>18</td>
			<td>开发一部</td>
			<td>13812345678</td>
			<td>111111.com@gmail</td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td><a href="#">1001</a></td>
			<td>2022-01-01</td>
			<td>张三</td>
			<td>zhangsan</td>
			<td>男</td>
			<td>18</td>
			<td>开发一部</td>
			<td>13812345678</td>
			<td>111111.com@gmail</td>
		</tr>
		
		<tr th:each="employee : ${employeeList}" th:object="${employee}">
		     
             <td th:text="*{id}"></td>
             <td th:text="*{employeeId}"></td>
             <td th:text="*{password}"></td>
             <td th:text="${#dates.format(employee.joinDate, 'yyyy/MM/dd')}"></td>
             <td th:text="*{employeeName}"></td>
             <td th:text="*{employeeNameKana}"></td>
             <td th:text="*{employeeGenderId}"></td>
             <td th:text="*{employeeAge}"></td>
             <td th:text="*{employeeDepartmentId}"></td>
             <td th:text="*{employeePhoneNumber}"></td>
             <td th:text="*{employeeMail}"></td>

           </tr>
	</table>
	<div>
</body>
</html>
