<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/employInformationDisplay.css">
	<script src="/js/urlManager.js"></script>
	<title>社員情報管理システム</title>
</head>

    <script>
      function deleteData() {
        var checkboxes = document.getElementsByName("selectedEmployees");
        var checked = false;
        for(var i = 0; i < checkboxes.length; i++){
			if (checkboxes[i].checked) {
				checked = true;
          		break;
        	}
		}
		
		if (checked) {
			if(confirm("選択した社員情報一覧を削除してもよろしいですか。")){
				submitForm('selectForm','delete','post');
				 //<!-- location.reload(); -->
			}else{
				event.preventDefault(); //submitキャンセル
			}
        } else {
			alert("削除する社員を選択してください。");
			event.preventDefault(); //submitキャンセル
        }
      }
    </script>
    
<body>
	<div class="header">
  		<h1 class="header_css">株式会社ＸＸＸ</h1>


	</div>

	<form id="selectForm">
		<div class="firstSelectRow_css">
			<label for="member-id" class="label1">社員ID:</label>
			<input type="text" name="employeeId" class="input1" th:value="${employeeInput}"><br><br>
			<label for="department" class="label2">所属部门:</label>
			<select id="department" class="select1" name = "employeeDepatmentId">
				<option value="000">--選択してください--</option>
				<option value="001" th:text="所属不明" th:selected="${employeeDepatmentInput == 001}"></option>
				<option value="002" th:text="管理部" th:selected="${employeeDepatmentInput == 002}"></option>
				<option value="003" th:text="営業部" th:selected="${employeeDepatmentInput == 003}"></option>
				<option value="004" th:text="第一開発部" th:selected="${employeeDepatmentInput == 004}"></option>
				<option value="005" th:text="第ニ開発部" th:selected="${employeeDepatmentInput == 005}"></option>
				<option value="006" th:text="人事部" th:selected="${employeeDepatmentInput == 006}"></option>
			</select><br><br>
			<button type="submit" class="logout_css" onclick="submitForm('selectForm','logout')">ログアウト</button>
			<button id="loginBtn" class="loginBtu_css" onclick="submitForm('selectForm','add')">登録</button>
			<button id="searchBtn" type="submit" class="searchBtu_css" 
			onclick="submitForm('selectForm','home','get')">検索</button>
		</div>
		<div class="twoSelectRow_css">
			<label for="start-date" class="label3">入社年月日:</label>
			<input type="date" id="start-date" name="startDate"class="timeStart" th:value="${startDateInput}"><br><br>
			<p class="p2">~</p>
			<input type="date" id="end-date" name="endDate"class="timeEnd" th:value="${endDateInput}"><br><br>
		</div>

	<div class="table-container">
	<table>
	<tbody>
		<tr class="trFirst_css">
			<th>選択</th>
			<th>社員ID</th>
			<th>入社年月日</th>
			<th>氏名</th>
			<th>カタカナ</th>
			<th>性別</th>
			<th>年齢</th>
			<th>所属</th>
			<th>電話番号</th>
			<th>メールアドレス</th>
		</tr>
		
		<tr th:each="employee, status : ${employeeList}" th:object="${employee}">
		    <td><input type="checkbox" th:checked="${employee.checked}" 
             th:name="selectedEmployees" 
             th:value="${employee.id}" 
             th:id="${'selectedEmployees_' + status.index + '_checked'}"></td>
             <td><a th:href="@{/emp/{id}/update(id=*{employeeId})}" th:text="*{employeeId}"></a></td>
             <td th:text="${#dates.format(employee.joinDate, 'yyyy/MM/dd')}"></td>
             <td th:text="*{employeeName}"></td>
             <td th:text="*{employeeNameKana}"></td>
             <td th:text="*{genderName}"></td>
             <td th:text="*{employeeAge}"></td>
             <td th:text="*{depatmentName}"></td>
             <td th:text="*{employeePhoneNumber}"></td>
             <td th:text="*{employeeMail}"></td>
           </tr>
           </tbody>
	</table>
	
	
	</div>
	
	
		<button type="submit" class="delete_css" onclick="deleteData()">削除</button>
		
	</form>
</body>
</html>
